<div class="mt-4">
    <h3>Create post</h3>
    <form action="/posts/store" method="POST">
        <div class="form-group">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="title" class="form-control" id="title">
        </div>
        <div class="form-group">
            <label for="author" class="form-label">Author</label>
            <input type="text" name="author" class="form-control" id="author">
        </div>
        <button type="submit" class="mt-2 btn btn-primary">Post</button>
    </form>
</div>